__pycache__
runs
*.npy
*.pt
weights
cam_jpgs_resnet_new
cam_rew
data/txt
fractal_dimension/*.txt
re
radiomics/*.npy
radiomics/img
radiomics/lung
radiomics/mask
radiomics/*.jpg
example
saves
ipt_results
view_segs
*.csv
*.txt
segmentation/*.pth
key_result